<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="personService01"
	      class="com.manuel.jordan.model.service.impl.PersonServiceImplVersion01" >
	      <constructor-arg ref="personRepository" />
	</bean>

	<bean id="personService02"
	      class="com.manuel.jordan.model.service.impl.PersonServiceImplVersion02" >
	      <property name="personRepository" ref="personRepository" />
	</bean>

</beans>
